@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,300;0,500;1,100&display=swap');

:root {
    --primary-color: rgba(164, 164, 226, 0.2);
    --secondary-color: rgba(164, 164, 226, 0.6);
    --dark-color: rgb(49, 49, 67);
    --primary-font: 'Chivo Mono', monospace;
}

h3, h4{
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--dark-color);
}
h2{
    font-family: var(--primary-font);
    color: var(--dark-color);
}
.meaning {
    font-family: var(--primary-font);
    color: var(--dark-color);
}

.italic {
    font-family: var(--primary-font);
    font-style: italic;
    font-size: 14px;
    color: var(--dark-color);
}